# MongoDB
MONGO_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/auth_db?replicaSet=rs0

# Kafka
KAFKA_BROKERS=kafka:9092

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Auth Service
JWT_SECRET=your-secret-key

# Notification Service (например, для email)
EMAIL_HOST=smtp.example.com
EMAIL_USER=your-email
EMAIL_PASS=your-password